@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

*,*:after,*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:active,:hover,:focus{
    outline: 0 !important;
    outline-offset: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
}
h1,h2,h3,h4,h5,h6{
    color: #2c3145;
}

/* ====Variable  Define==== */
:root{
    --primary-color:#000;
    --secondary-color: #9f5ba4;
    --third-color:#f3f3f3;
    --four-color:#848484;
    --text-color:#fff;
    --black-light-color:#2f2f2f;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family:'Rubik',sans-serif;
    font-size: 100%;
    font-weight: 400;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    margin: 0%;
    padding: 0%;
}
/* header */
.header{
    background-color: var(--text-color);
    z-index: 999;
    padding: 0.625rem;
    box-shadow: 0px 0.125rem 0.625rem rgba(0, 0, 0, 0.05);
}