@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
body{
    font-family: "Josefin Sans", serif;
}
/* Scrollbar styles for light mode */

::-webkit-scrollbar{
    width:0px
}
@media screen and (max-width: 426px) {

    .down{
        z-index: 1;
        position: fixed;
        padding: 5px 10px;
        border-radius: 5px;
        width: 100%;
        left:0px;
        background-color: inherit;
        bottom:-50px;
        justify-content: space-between;
    }
    .main{
        max-height: 50vh;
    }
}